{% extends "layouts/base.html" %}
{% block content %}
{# German aliasing, scoped to this block - see src/de/i18n/index.js. #}
{%- if isGermanPage(page.url) -%}
{%- set about = deData.about -%}
{%- set contact = deData.contact -%}
{%- set coffee = deData.coffee -%}
{%- set home = deData.home -%}
{%- set portfolio = deData.portfolio -%}
{%- set projects = deData.projects -%}
{%- set resume = deData.resume -%}
{%- set service = deData.service -%}
{%- set skill = deData.skill -%}
{%- endif -%}
{% include "partials/site-head.html" %}
<div id="embedded-projects">
    <div class="container my-3">
        <h1>{{ projects.title }}</h1>
    </div>
    {% for topic in projects.topics %}
    <div id="{{ topic.url | replace('#', '') }}" class="container my-5 py-5">
        <div class="row bg-custom-orange text-white ">
            <h2>
                {{ topic.title }}
            </h2>
        </div>
        <div class="row g-5">
            {% for article in topic.articles %}
            {% if loop.index0 % 3 == 0 %}
            <div class="row g-5">
                {% endif %}
                <div class="col-md-4">
                    <div class="project-card">
                        <a href="{{ article.link }}" target="_blank">
                            <img class="card-img-top" width="160" height="160" src="{{ article.image }}"
                                alt="Card image cap">
                            <div class="medium-link">
                                <strong>{{ article.title }}</strong>
                        </a>
                    </div>
                </div>
            </div>
            {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}