<style>
	.bg-custom-orange {
		background-color: #ff9000 !important;
	}

	.text-custom-orange {
		color: #ff9000 !important;
	}

	#fh5co-started {
		font-family: "Space Mono", Arial, serif;
		font-weight: 400;
	}

	.medium-link a {
		text-decoration: none;
		font-weight: 400;
	}

	body {
		font-family: "Space Mono", Arial, serif;
		font-weight: 400;
		font-size: 13px;
		line-height: 1.7;
		color: #4d4d4d;
		background: #fff;

	}
</style>

<nav class="navbar navbar-dark bg-custom-orange">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="{{ portfolio.image2 }}" width="30" height="30" class="rounded-circle d-inline-block align-top"
				alt="avatar">
			<span class="px-2">{{ portfolio.name }}</span>
		</a>
	</div>
</nav>